<body>
  <!-- éléments cachés pour jouer avec :target -->
  <span id="s1"></span>
  <span id="s2"></span>
  <span id="s3"></span>

  <!-- Le gros conteneur qui va glisser -->
  <div id="wrap">

    <div id="slide1">
      <div class="slide_inside">
        <h1>
          Défi 1
          <h2>Une I.A tu feras</h2>
        </h1>
      </div>
    </div>

    <div id="slide2">
      <div class="slide_inside">
        <h1>
          Défi 2
          <h2>Pacman tu réaliseras</h2>
        </h1>
      </div>
    </div>

    <div id="slide3">
      <div class="slide_inside">
        <h1>
          Défi 3
          <h2>Une application mobile tu</h2>
        </h1>
      </div>
    </div>
  </div>
</body>
