<body>
  <!-- éléments cachés pour jouer avec :target -->
  <span id="s1"></span>
  <span id="s2"></span>
  <span id="s3"></span>

  <!-- Le gros conteneur qui va glisser -->
  <div id="wrap">

    <div id="slide1">
      <div class="slide_inside">
        <h1>
          Défi 1
        </h1>
        <h2>Une I.A tu feras !
          <br><br>
          <em>Pour le défi du premier round, voici les différents consignes pour les équipes participantes :
            <br>
            <ul>
              <li>Création d'une IA sur le jeu de votre choix </li>
              <li>Création de différents niveaux de difficulté</li>
              <li>Les IA seront jugés sur leur réactivité et leur cohérence en fonction du jeu et de la difficulté</li>
              <li>Durée de l'épreuve : 2 heures</li>
            </ul>
          </em>
        </h2>
      </div>
    </div>

    <div id="slide2">
      <div class="slide_inside">
        <h1>
          Défi 2
        </h1>
        <h2>Pacman tu réaliseras !
          <br><br>
          <em>Pour le défi du deuxième round, voici les différents consignes pour les équipes participantes :
            <br>
            <ul>
              <li>Réaliser le jeu Pacman, en restand fidèle au principe de base</li>
              <li>Apporter des fonctionnalités originales afin de se démarquer</li>
              <li>Le jeu sera jugé en fonction du design ainsi que de l'originalité et des différentes features</li>
              <li>Durée de l'épreuve : 2 heures</li>
            </ul>
          </em>
        </h2>
      </div>
    </div>

    <div id="slide3">
      <div class="slide_inside">
        <h1>
          Défi 3
        </h1>
        <h2>Une application mobile tu exécuteras !
          <br><br>
          <em>Pour le défi de la finale, voici les différents consignes pour les équipes participantes :
            <br>
            <ul>
              <li>Création d'une application principalement mobile </li>
              <li>Libre cours à votre imagination pour cette dernière épreuve!</li>
              <li>L'application sera jugé en fonction de l'audace, du but de l'application et de la créativité</li>
              <li>Durée de l'épreuve : 4 heures</li>
            </ul>
          </em>
        </h2>
      </div>
    </div>
  </div>
</body>