<div class="card" style="width: 18rem; height: 20rem;">
  <div class="card-body">
    <img src="{{ devs[0].flag }}" alt="flag" width="225px" height="150px">
    <h5 class="card-title ">{{ devs[0].team }}</h5>
    <p class="card-text ">
      <td>{{ devs[0].describeTeam }}</td>
    </p>
    <a href="# " class="btn btn-primary ">Go somewhere</a>
  </div>
</div>

<div class="card" style="width: 18rem; height: 20rem;">
  <div class="card-body">
    <img src="{{ devs[2].flag }}" alt="flag" width="225px" height="150px">
    <h5 class="card-title ">{{ devs[2].team }}</h5>
    <p class="card-text ">
      <td>{{ devs[2].describeTeam }}</td>
    </p>
    <a href="# " class="btn btn-primary ">Go somewhere</a>
  </div>
</div>

<div class="card" style="width: 18rem; height: 20rem;">
  <div class="card-body">
    <img src="{{ devs[5].flag }}" alt="flag" width="225px" height="150px">
    <h5 class="card-title ">{{ devs[5].team }}</h5>
    <p class="card-text ">
      <td>{{ devs[5].describeTeam }}</td>
    </p>
    <a href="# " class="btn btn-primary ">Go somewhere</a>
  </div>
</div>

<div class="card" style="width: 18rem; height: 20rem;">
  <div class="card-body">
    <img src="{{ devs[12].flag }}" alt="flag" width="225px" height="150px">
    <h5 class="card-title ">{{ devs[12].team }}</h5>
    <p class="card-text ">
      <td>{{ devs[12].describeTeam }}</td>
    </p>
    <a href="# " class="btn btn-primary ">Go somewhere</a>
  </div>
</div>

<div class="card" style="width: 18rem; height: 20rem;">
  <div class="card-body">
    <img src="{{ devs[13].flag }}" alt="flag" width="225px" height="150px">
    <h5 class="card-title ">{{ devs[13].team }}</h5>
    <p class="card-text ">
      <td>{{ devs[13].describeTeam }}</td>
    </p>
    <a href="# " class="btn btn-primary ">Go somewhere</a>
  </div>
</div>

<div class="card" style="width: 18rem; height: 20rem;">
  <div class="card-body">
    <img src="{{ devs[20].flag }}" alt="flag" width="225px" height="150px">
    <h5 class="card-title ">{{ devs[20].team }}</h5>
    <p class="card-text ">
      <td>{{ devs[20].describeTeam }}</td>
    </p>
    <a href="# " class="btn btn-primary ">Go somewhere</a>
  </div>
</div>

<div class="card" style="width: 18rem; height: 20rem;">
  <div class="card-body">
    <img src="{{ devs[23].flag }}" alt="flag" width="225px" height="150px">
    <h5 class="card-title ">{{ devs[23].team }}</h5>
    <p class="card-text ">
      <td>{{ devs[23].describeTeam }}</td>
    </p>
    <a href="# " class="btn btn-primary ">Go somewhere</a>
  </div>
</div>

<div class="card" style="width: 18rem; height: 20rem;">
  <div class="card-body">
    <img src="{{ devs[24].flag }}" alt="flag" width="225px" height="150px">
    <h5 class="card-title ">{{ devs[24].team }}</h5>
    <p class="card-text ">
      <td>{{ devs[24].describeTeam }}</td>
    </p>
    <a href="# " class="btn btn-primary ">Go somewhere</a>
  </div>
</div>
