<div id="body">
  <div id="fond">
    <h1>Les équipes</h1>
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class=" d-flex justify-content-center">
            <div class="card" style="width: 16rem; height: 20rem;">
              <div class="card-body">
                <img src="{{ devs[24].flag }}" alt="flag" width="210px" height="150px">
                <h6 class="card-title ">{{ devs[24].team }}</h6>
                <p class="card-text ">
                  <td>{{ devs[24].describeTeam }}</td>
                </p>
                <a id="btnCard" class="btn button" (click)="showTeam(devs[24].team)">Membres de l'équipe</a>
              </div>
            </div>
            <div class="card" style="width: 16rem; height: 20rem;">
              <div class="card-body">
                <img src="{{ devs[23].flag }}" alt="flag" width="210px" height="150px">
                <h6 class="card-title ">{{ devs[23].team }}</h6>
                <p class="card-text ">
                  <td>{{ devs[23].describeTeam }}</td>
                </p>
                <a id="btnCard" class="btn button" (click)="showTeam(devs[23].team)">Membres de l'équipe</a>
              </div>
            </div>
            <div class="card" style="width: 16rem; height: 20rem;">
              <div class="card-body">
                <img src="{{ devs[20].flag }}" alt="flag" width="210px" height="150px">
                <h6 class="card-title ">{{ devs[20].team }}</h6>
                <p class="card-text ">
                  <td>{{ devs[20].describeTeam }}</td>
                </p>
                <a id="btnCard" class="btn button" (click)="showTeam(devs[20].team)">Membres de l'équipe</a>
              </div>
            </div>
            <div class="card" style="width: 16rem; height: 20rem;">
              <div class="card-body">
                <img src="{{ devs[13].flag }}" alt="flag" width="210px" height="150px">
                <h6 class="card-title ">{{ devs[13].team }}</h6>
                <p class="card-text ">
                  <td>{{ devs[13].describeTeam }}</td>
                </p>
                <a id="btnCard" class="btn button" (click)="showTeam(devs[13].team)">Membres de l'équipe</a>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class=" d-flex justify-content-center">
            <div class="card" style="width: 16rem; height: 20rem;">
              <div class="card-body">
                <img src="{{ devs[0].flag }}" alt="flag" width="210px" height="150px">
                <h6 class="card-title ">{{ devs[0].team }}</h6>
                <p class="card-text ">
                  <td>{{ devs[0].describeTeam }}</td>
                </p>
                <a id="btnCard" class="btn button" (click)="showTeam(devs[0].team)">Membres de l'équipe</a>
              </div>
            </div>
            <div class="card" style="width: 16rem; height: 20rem;">
              <div class="card-body">
                <img src="{{ devs[12].flag }}" alt="flag" width="210px" height="150px">
                <h6 class="card-title ">{{ devs[12].team }}</h6>
                <p class="card-text ">
                  <td>{{ devs[12].describeTeam }}</td>
                </p>
                <a id="btnCard" class="btn button" (click)="showTeam(devs[12].team)">Membres de l'équipe</a>
              </div>
            </div>
            <div class="card" style="width: 16rem; height: 20rem;">
              <div class="card-body">
                <img src="{{ devs[5].flag }}" alt="flag" width="210px" height="150px">
                <h6 class="card-title ">{{ devs[5].team }}</h6>
                <p class="card-text ">
                  <td>{{ devs[5].describeTeam }}</td>
                </p>
                <a id="btnCard" class="btn button" (click)="showTeam(devs[5].team)">Membres de l'équipe</a>
              </div>
            </div>
            <div class="card" style="width: 16rem; height: 20rem;">
              <div class="card-body">
                <img [src]="devs[2].flag" alt="flag" width="210px" height="150px">
                <h6 class="card-title ">{{ devs[2].team }}</h6>
                <p class="card-text ">
                  <td>{{ devs[2].describeTeam }}</td>
                </p>
                <a id="btnCard" class="btn button" (click)="showTeam(devs[2].team)">Membres de l'équipe</a>
              </div>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </div>
  <!--cube-->
  <div id="conteneur" *ngIf="selectedDevs && selectedDevs.length == 4">
    <div class="parent">
      <div class="parentChild">
        <div class="face cote1" [style.background-image]="'url(' + selectedDevs[0].flag + ')'"></div>


        <div class="face" [ngClass]="'cote' + (i + 2)" [style.background-image]="'url(' + dev.imgDev + ')'" *ngFor="let dev of selectedDevs; let i = index"></div>


        <div class="face cote6" [style.background-image]="'url(' + selectedDevs[0].flag + ')'"></div>
      </div>
    </div>
  </div>

  <div class="nom" [ngClass]="'nom' + i" *ngFor="let dev of selectedDevs; let i = index">{{dev.name}}
    <br /> {{dev.age}}
    <br /> {{dev.skills}}
    <br /> {{dev.describeDev}}</div>

</div>
