.navMenu {
  color: #fff !important;
  background-color: rgba(0, 0, 0, 0.3) !important;
  /* position: fixed;
    top: 0;
    left: 0;
    width: 100%; */
}

.navbar-nav .nav-link {
  color: white;
}

.container-fluid {
  padding: 0%;
}
