@font-face {
  font-family: "coalition";
  src: url("../assets/fonts/Coalition.ttf");
}

.navMenu {
  color: #fff !important;
  font-family: 'coalition', sans-serif;
  background-color: #EE3F74;
  height: 50px;
}

.navbar-nav .nav-link {
  color: white;
}

.container-fluid {
  padding: 0%;
}

.link-3 {
  transition: 0.4s;
  color: #ffffff;
  font-size: 1vw;
  text-decoration: none;
  padding: 0 10px;
  margin: 0 10px;
}

.link-3:hover {
  background-color: #84d7a5;
  color: white;
  /* padding: 3px 2px; */
}

.link-3:active {
  background-color: #84d7a5;
  color: red;
  font-size: 1vw;
  /* padding: 3px 2px; */
}
