@font-face {
  font-family: "coalition";
  src: url("../../assets/fonts/Coalition.ttf");
}

.fond {
  width: 100%;
  height: 96vh;
  overflow: hidden;
  position: absolute;
  background: #71E4A5;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #71E4A5, #89253e);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #71E4A5, #89253e);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #fff;
}

.scene {
  width: 300px;
  height: 300px;
  margin: 75px auto 0;
  perspective: 1200px;
}

.cube {
  position: relative;
  width: 300px;
  height: 300px;
  transform-style: preserve-3d;
  animation: example 10s linear infinite;
}

.side {
  position: absolute;
  width: 300px;
  height: 300px;
  box-sizing: border-box;
  border: 5px solid #EE3F74;
  background-color: rgba(32, 170, 151, 0.5);
  padding: 120px 0;
  font: 50px/1 'Trebuchet MS', sans-serif;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
}

.back {
  transform: translateZ(-150px);
  background-image: url("../../assets/monster.jpg");
  background-size: cover;
  background-position: center;
}

.top {
  transform: translateY(-150px) rotateX(90deg);
  background-image: url("../../assets/microsoft.jpg");
  background-size: cover;
  background-position: center;
}

.bottom {
  transform: translateY(150px) rotateX(90deg);
  background-image: url("../../assets/nespresso.jpg");
  background-size: cover;
  background-position: center;
}

.front {
  transform: translateZ(150px);
  background-image: url("../../assets/cw.png");
  background-size: cover;
  background-position: center;
}

.top,
.bottom {
  background-color: #EE3F74;
}

@keyframes example {
  100% {
    transform: rotateX(360deg);
  }
}

.ctn {
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 10%;
}

h1 {
  font-size: 50px;
  font-weight: bold;
  font-family: 'coalition', sans-serif;
  background-image: -webkit-gradient( linear, left top, right top, color-stop(0.33, #84d7a5), color-stop(0.55, #EE3F74), color-stop(0.76, #EE3F74));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.spons1 {
  position: absolute;
  top: 15%;
  left: 20px;
  width: 400px;
}

.spons2 {
  position: absolute;
  top: 15%;
  right: 20px;
  width: 400px;
  text-align: right;
}

.spons1 a {
  text-decoration: none;
  color: #71E4A5;
}

.spons2 a {
  text-decoration: none;
  color: #EE3F74;
}

h2 {
  margin-top: 20px;
  font-family: 'coalition', sans-serif;
}
