<div class="fond">
  <div class="scene">
    <div class="cube">
      <div class="side back"></div>
      <div class="side top"></div>
      <div class="side bottom"></div>
      <div class="side front"></div>
    </div>
  </div>
  <div class="ctn">
    <h1>Nos sponsors</h1>
  </div>

  <div class="spons1">
    <a href="https://www.monsterenergy.com/">
      <h2>Monster energy</h2>
      Monster Energy (ou simplement appelé Monster) est notre partenaire depuis de nombreuses années.
    </a>
    <br />
    <a href="https://www.nescafe.fr/">
      <h2>Nescafe</h2>
      Néscafe, sans lui ! les hackathon n'auraient pas lieu ;)
    </a>
  </div>

  <div class="spons2">
    <a href="https://www.codewars.com/users/sign_in">
      <h2>Codewars</h2>
      Codewars est un site d'entrainement au code, c'est dessus que nos challengeurs s'entrainent.
    </a>
    <br />
    <a href="https://www.microsoft.com/fr-fr/">
      <h2>Microsoft</h2>
      Microsoft, chose inattendue, le géant américain est devenu notre partenaire </a>
  </div>
