@font-face {
  font-family: "coalition";
  src: url("../../assets/fonts/Coalition.ttf");
}

body {
  background: #71E4A5;
  background: -webkit-linear-gradient(to left, #71E4A5, #89253e);
  background: linear-gradient(to left, #71E4A5, #89253e);
}

.live {
  background-image: url("../../assets/YouTube-streaming-is-offline.jpg");
  height: 50vw;
  width: 50vw;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

#demo {
  display: inline-block;
  font-size: 1.5vw;
  position: relative;
  top: 3%;
  left: 30%;
  color: red;
  font-family: 'coalition', sans-serif;
  letter-spacing: 10px;
}

#demo2 {
  display: inline-block;
  font-size: 1.5vw;
  position: relative;
  top: 2%;
  left: 20%;
  color: red;
  ;
  font-family: 'coalition', sans-serif;
}

h1 {
  font-family: 'coalition', sans-serif;
  text-align: center;
  color: red;
  position: absolute;
  top: 90%;
  font-size: 1.5vw;
}
