<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<!-- First Parallax Image with Logo Text -->
<div class="bgimg-1 w3-display-container w3-opacity-min" id="home">
  <div class="w3-display-middle" style="white-space:nowrap;">
    <img src="./../../assets/lafrenchtech.png" class="w3-center w3-padding-large w3-black w3-xlarge w3-wide w3-animate-opacity image-principale"
    />
  </div>
</div>
<!-- Container (About Section) -->
<div class="w3-content w3-container w3-padding-64" id="about">
  <h2 class="w3-center">Bienvenue dans l'édition 2018 de la FRENCHTECH, un hackathon made in LA LOUPE !</h2>
  <br>
  <h5 class="w3-center">Mais alors, un hackathon : qu'est-ce que c'est ?</h5>
  <br>
  <h6>Contraction de "hack" et "marathon", un hackathon est un événement lors duquel des équipes (composées de développeurs,
    mais aussi parfois de designers et de chefs de projet) doivent développer un projet informatique, en général un logiciel
    ou une application. Elles doivent le faire sur une période limitée, et généralement courte (une journée, une nuit, un
    week-end). Le but est donc de coder rapidement quelque chose de malin (d'où le "hack"). Il s'agit aussi de développer
    de manière intensive, sans s'arrêter (d'où le marathon). C'est aussi souvent une compétition festive à l'issue de laquelle
    un jury choisit et récompense des gagnants.</h6>
  <div class="w3-row">
    <div class="w3-col m6 w3-center w3-padding-large">
      <p>
        <b> Ambiance de l'évenement
        </b>
      </p>
      <br>
      <img src="./../../assets/hackaton.jpg" class="w3-round w3-image img-thumbnail" alt="Hackaton" width="500" height="333">
    </div>

    <!-- Hide this text on small devices -->
    <div class="w3-col m6 w3-hide-small w3-padding-large">
      <h6>I am lorem ipsum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
        enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
        irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
        cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit,
        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
        ullamco laboris nisi ut aliquip ex ea commodo consequat.</h6>
    </div>
  </div>
  <h3 class="w3-center w3-padding-16">Les principales raisons de participer à notre evenement :</h3>
  <p class="w3-wide">
    <i class="fa fa-battery-full"></i>Dose d'énergies en trop</p>
  <div class="w3-light-grey">
    <div class="w3-container w3-padding-small w3-dark-grey w3-center" style="width:100%">100%</div>
  </div>
  <br>
  <p class="w3-wide">
    <i class="fa fa-laptop"></i>Envie de gagner</p>
  <div class="w3-light-grey">
    <div class="w3-container w3-padding-small w3-dark-grey w3-center" style="width:100%">100%</div>
  </div>
  <br>
  <p class="w3-wide">
    <i class="fa fa-photo"></i>Amour du développement en environnement réel</p>
  <div class="w3-light-grey">
    <div class="w3-container w3-padding-small w3-dark-grey w3-center" style="width:100%">100%</div>
  </div>
</div>

<div class="w3-row w3-center w3-dark-grey w3-padding-16">
  <div class="w3-quarter w3-section">
    <span class="w3-xlarge">8</span>
    <br> Equipes
  </div>
  <div class="w3-quarter w3-section">
    <span class="w3-xlarge">32</span>
    <br> Développeurs
  </div>
  <div class="w3-quarter w3-section">
    <span class="w3-xlarge">+ de 100 000</span>
    <br> Spectateurs
  </div>
  <div class="w3-quarter w3-section">
    <span class="w3-xlarge">1</span>
    <br> Seul Gagnant
  </div>
</div>

<!-- Second Parallax Image with Portfolio Text -->
<div class="bgimg-2 w3-display-container w3-opacity-min">
  <div class="w3-display-middle">
    <span class="w3-xxlarge w3-text-white w3-wide">LE TOURNOI</span>
  </div>
</div>

<!-- Container (Portfolio Section) -->
<div class="w3-content w3-container w3-padding-64" id="portfolio">
  <h3 class="w3-center">
    <em>Pour cette édition 2018, voici les règles de notre tournoi :
      <br>
      <ul>
        <li>8 équipes venue du monde entier </li>
        <li>32 développeurs prêts à en découdre </li>
        <li>Des épreuves qui opposeront 2 équipes dans un tournoi classique </li>
        <li>Les challenges seront composés d'épreuve de rapidité sur des question d'algorithme, de plus en plus dur</li>
        <li>Le vainqueur aura l'honneur d'affronter une équipe de légende</li>
      </ul>
    </em>
    <br>
    <button class="w3-button w3-padding-large w3-light-grey" routerLink="/tournament" style="margin-top:64px">Accèder à l'arbre du tournoi</button>
  </h3>
</div>

<!-- Third Parallax Image with Portfolio Text -->
<div class="bgimg-3 w3-display-container w3-opacity-min">
  <div class="w3-display-middle">
    <span class="w3-xxlarge w3-text-white w3-wide">NOUS TROUVER?NOUS CONTACTER?</span>
  </div>
</div>
<div class="w3-row w3-padding-32 w3-section padding-map">
  <div class="w3-col m4 w3-container">
    <iframe class="w3-round-large w3-greyscale" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2645.1104513121877!2d1.0096322016494657!3d48.47359497914984!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e3c1f7f7d69b13%3A0x44cf293e5870383a!2sWild+Code+School+-+Formation+d%C3%A9veloppeur+web!5e0!3m2!1sfr!2sfr!4v1525361474395"
      width="400" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
  <div class="w3-large w3-margin-bottom padding-icone-all">
    <i class="fa fa-map-marker fa-fw w3-hover-text-black w3-xlarge w3-margin-right"></i> La Loupe, France
    <br>
    <i class="fa fa-phone fa-fw w3-hover-text-black w3-xlarge w3-margin-right padding-icone"></i> Phone: 06 19 34 42 37
    <br>
    <i class="fa fa-envelope fa-fw w3-hover-text-black w3-xlarge w3-margin-right padding-icone"></i> Email: maxime@wildcodeschool.fr
    <br>
  </div>
</div>
<!-- Footer -->
<footer class="w3-center w3-black w3-padding-64 w3-opacity w3-hover-opacity-off">
  <a href="#home" class="w3-button w3-light-grey">
    <i class="fa fa-arrow-up w3-margin-right"></i>To the top</a>
  <div class="w3-xlarge w3-section">
    <i class="fa fa-facebook-official w3-hover-opacity"></i>
    <i class="fa fa-instagram w3-hover-opacity"></i>
    <i class="fa fa-snapchat w3-hover-opacity"></i>
    <i class="fa fa-pinterest-p w3-hover-opacity"></i>
    <i class="fa fa-twitter w3-hover-opacity"></i>
    <i class="fa fa-linkedin w3-hover-opacity"></i>
  </div>
</footer>
