<app-loading [condition]="isLoading"></app-loading>

<app-toast [message]="toast.message"></app-toast>
<div class="card mb-3" *ngIf="!isLoading">
  <h4 class="card-header">Current devs ({{ devs.length }})</h4>
  <div class="card-body">
    <table class="table table-bordered">
      <thead class="thead-light">
        <tr>
          <th scope="col">Name</th>
          <th scope="col">pays</th>
          <th scope="col">team</th>
          <th scope="col">age</th>
          <th scope="col">Skills</th>
          <th scope="col">imgDev</th>
          <th scope="col">flag</th>
          <th scope="col">describeTeam</th>
          <th scope="col">describeDev</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody *ngIf="devs.length === 0">
        <tr>
          <td colspan="4">There are no devs in the DB. Add a new dev below.</td>
        </tr>
      </tbody>
      <tbody *ngIf="!isEditing">
        <tr *ngFor="let dev of devs">
          <td>{{ dev.name }}</td>
          <td>{{ dev.pays }}</td>
          <td>{{ dev.team }}</td>
          <td>{{ dev.age }}</td>
          <td>{{ dev.skills }}</td>
          <td>{{ dev.imgDev }}</td>
          <td>{{ dev.flag }}</td>
          <td>{{ dev.describeTeam }}</td>
          <td>{{ dev.describeDev }}</td>
          <td>
            <button class="btn btn-sm btn-primary" (click)="enableEditing(dev)">
              <i class="fa fa-pencil"></i> Edit</button>
            <button class="btn btn-sm btn-danger" (click)="deleteDev(dev)">
              <i class="fa fa-trash"></i> Delete</button>
          </td>
        </tr>
      </tbody>
      <tbody *ngIf="isEditing">
        <tr>
          <td colspan="4">
            <form class="form-inline" #form="ngForm" (ngSubmit)="editDev(dev)">
              <input class="form-control mr-2" type="text" name="name" [(ngModel)]="dev.name" placeholder="Name" required>
              <input class="form-control mr-2" type="text" name="pays" [(ngModel)]="dev.pays" placeholder="pays" required>
              <input class="form-control mr-2" type="text" name="team" [(ngModel)]="dev.team" placeholder="team" required>
              <input class="form-control mr-2" type="number" name="age" [(ngModel)]="dev.age" placeholder="age" min="0" required>
              <input class="form-control mr-2" type="text" name="skills" [(ngModel)]="dev.skills" placeholder="skills" required>
              <input class="form-control mr-2" type="text" name="imgDev" [(ngModel)]="dev.imgDev" placeholder="imgDev" required>
              <input class="form-control mr-2" type="text" name="flag" [(ngModel)]="dev.flag" placeholder="flag" required>
              <input class="form-control mr-2" type="text" name="describeTeam" [(ngModel)]="dev.describeTeam" placeholder="describeTeam"
                required>
              <input class="form-control mr-2" type="text" name="describeDev" [(ngModel)]="dev.describeDev" placeholder="describeDev" required>
              <button class="btn btn-sm btn-primary mr-2" type="submit" [disabled]="!form.form.valid">
                <i class="fa fa-floppy-o"></i> Save</button>
              <button class="btn btn-sm btn-warning" (click)="cancelEditing()">
                <i class="fa fa-times"></i> Cancel</button>
            </form>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="card" *ngIf="!isEditing">
  <h4 class="card-header">Add new dev</h4>
  <div class="card-body">
    <form class="form-inline" [formGroup]="addDevForm" (ngSubmit)="addDev()">
      <input class="form-control mr-2" type="text" name="name" formControlName="name" placeholder="Name">
      <input class="form-control mr-2" type="text" name="team" formControlName="team" placeholder="Team">
      <input class="form-control mr-2" type="text" name="pays" formControlName="pays" placeholder="Pays">
      <input class="form-control mr-2" type="number" name="age" formControlName="age" placeholder="Age" min="0">
      <input class="form-control mr-2" type="text" name="skills" formControlName="skills" placeholder="Skills">
      <input class="form-control mr-2" type="text" name="imgDev" formControlName="imgDev" placeholder="ImgDev">
      <input class="form-control mr-2" type="text" name="flag" formControlName="flag" placeholder="Flag">
      <input class="form-control mr-2" type="text" name="describeTeam" formControlName="describeTeam" placeholder="Describe Team">
      <input class="form-control mr-2" type="text" name="describeDev" formControlName="describeDev" placeholder="Describe Dev">
      <button class="btn btn-primary" type="submit" [disabled]="!addDevForm.valid">
        <i class="fa fa-floppy-o"></i> Add</button>
    </form>
  </div>
</div>
